<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
        <mapEntry key="FORGE_VERSION" value="34.1.0"/>
        <mapEntry key="MCP_MAPPINGS" value="snapshot_20200514-1.16"/>
        <mapEntry key="MCP_VERSION" value="20200911.084530"/>
        <mapEntry key="MC_VERSION" value="1.16.3"/>
        <mapEntry key="MOD_CLASSES" value="examplemod%%/Users/javiertan/Development/Mods/Suggestions/bin/main:examplemod%%/Users/javiertan/Development/Mods/Suggestions/bin/main"/>
        <mapEntry key="target" value="fmluserdevdata"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mod examplemod --all --output /Users/javiertan/Development/Mods/Suggestions/src/generated/resources"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Suggestions"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/javiertan/Development/Mods/Suggestions/run"/>
</launchConfiguration>
